.wrapper {
  margin: 0 auto;


  ul {
    display: inline-box;

    text-align: center;
    list-style: none;
  }

  img {
    max-width: 65%;
    border-radius: 100%;

    text-align: center;
    list-style: none;
  }

}
