<div class="wrapper">
  <h1>Perfil investidor - Questionário</h1>

  <form  #contatoForm="ngForm" (ngSubmit)="registerUser(contatoForm)">
    <div class="form-group">
      <p>1. Qual o seu perfil em relacao aos seus investimentos?</p>
      <ul>
        <li>
          <input
          required
          name="questionario1"
          value="Preserar meu dinheiro sem correr riscos"
          ngModel
          id="questionario1"
          type="radio"
          class="form-group">
          <span>Preserar meu dinheiro
            <br> sem correr riscos</span>
        </li>
        <li>
          <input
          required
          ngModel
          name="questionario1"
          id="questionario1"
          value="Ganhar mais dnheiro assumindo riscos moderados"
          type="radio"
          class="form-group">
          <span>Ganhar mais dnheiro
            <br> assumindo riscos moderados</span>
        </li>
        <li>
          <input
          required
          ngModel
          name="questionario1"
          id="questionario1"
          value="Ganhar mais dnheiro assumindo riscos agressivos"
          type="radio"
          class="form-group">
          <span>Ganhar mais dnheiro
            <br> assumindo riscos agressivos</span>
        </li>
      </ul>
    </div>

    <div class="form-group">
    <p>2. Por quanto tempo voce deseja manter os seus investimentos?</p>
    <ul>
      <li>
        <input 
        required 
        ngModel 
        name="questionario2" 
        id="questionario2" 
        type="radio" 
        value="ATE 1 ANO"
        class="form-group">
        <span>ATE 1 ANO</span>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="questionario2" 
        id="questionario2" 
        type="radio" 
        value="DE 1 a 3 ANOS"
        class="form-group">
        <span>DE 1 a 3 ANOS</span>
      </li>
      <li>
        <input 
        required 
        ngModel
         name="questionario2" 
         id="questionario2" 
         type="radio"
         value="DE 3 a 5 ANOS"
         class="form-group">
        <span>DE 3 a 5 ANOS</span>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <p>3. Quantos % dessees investimentos voce pode precisar em um ano?</p>
    <ul>
      <li>
        <input 
        required 
        ngModel 
        name="questionario3" 
        id="questionario3" 
        value="ACIMA DE 75%"
        type="radio"
        class="form-group">
        <span>ACIMA DE 75%</span>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="questionario3"
        id="questionario3" 
        type="radio"
        value="DE 25 A 74%"
        class="form-group">
        <span>DE 25 A 74%</span>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="questionario3" 
        id="questionario3" 
        type="radio"
        value="ATE 25%"
        class="form-group">
        <span>ATE 25%</span>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <p>4. Qual sua familiaridade com os tipos de investimentos abaixo?
      <br> Leve em consideracao o valor aplicado nos ultimos 2 anos.</p>

    <ul class="selects">
      <li>
        <span>Titulos de renda fixa ou tesouro direto</span>
        <select 
        required 
        ngModel 
        name="questionario4" 
        id="questionario4" 
        value="investimento.tipo"
        class="form-group">
          <option *ngFor="let investimento of investimentos" value="{{investimento.tipo}}" >
            {{investimento.tipo}}
          </option>
        </select>
      </li>
      <li>
          <span>Fundos de investimento</span>
          <select 
          required 
          ngModel 
          name="questionario4.1" 
          id="questionario4.1" 
          value="investimento.tipo"
          class="form-group">
            <option *ngFor="let investimento of investimentos" value="{{investimento.tipo}}" >
              {{investimento.tipo}}
            </option>
          </select>
        </li>
    </ul>

    <ul class="selects">

        <li>
          <span>Acoes avista</span>
          <select 
          required 
          ngModel 
          name="questionario4.2" 
          id="questionario4.2" 
          value="investimento.tipo"
          class="form-group">
            <option *ngFor="let investimento of investimentos" value="{{investimento.tipo}}" >
              {{investimento.tipo}}
            </option>
          </select>
        </li>

        <li>
            <span>Aluguel de acoes, termos opcoes e futuros</span>
            <select 
            required 
            ngModel 
            name="questionario4.3" 
            id="questionario4.3" 
            value="investimento.tipo" 
            class="form-group">
              <option *ngFor="let investimento of investimentos" value="{{investimento.tipo}}" >
                {{investimento.tipo}}
              </option>
            </select>
          </li>
      </ul>
  </div>
  
  <button class="btn voltar">voltar</button>

  <button class="btn-salvar"
  type="submit"
  [disabled]="!contatoForm.form.valid">Salvar</button>

  </form>

  <!-- for 
  <ul>
    <li *ngFor="let resposta of convertida">
      {{resposta}}
    </li>
  </ul>
  -->
</div>
