<div class="wrapper">
  <h1>Perfil investidor - Questionário</h1>

  <form  #contatoForm="ngForm" (ngSubmit)="registerUser(contatoForm); goNotificacao()">
    <div class="form-group">
      <p>1. Qual o seu perfil em relação aos seus investimentos?</p>
      <ul>
        <li>
          <input
          required
          name="1. Qual o seu perfil em relação aos seus investimentos?"
          value="Preserar meu dinheiro sem correr riscos"
          ngModel
          id="questao1"
          type="radio"
          class="form-group">
          <label for="questao1">Preservar meu dinheiro
            <br> sem correr riscos</label>
        </li>
        <li>
          <input
          required
          ngModel
          name="1. Qual o seu perfil em relação aos seus investimentos?"
          id="questao2"
          value="Ganhar mais dnheiro assumindo riscos moderados"
          type="radio"
          class="form-group">
          <label for="questao2">Ganhar mais dinheiro
            <br> assumindo riscos moderados</label>
        </li>
        <li>
          <input
          required
          ngModel
          name="1. Qual o seu perfil em relação aos seus investimentos?"
          id="questao3"
          value="Ganhar mais dnheiro assumindo riscos agressivos"
          type="radio"
          class="form-group">
          <label for="questao3">Ganhar mais dinheiro
            <br> assumindo riscos agressivos</label>
        </li>
      </ul>
    </div>

    <div class="form-group">
    <p>2. Por quanto tempo você deseja manter os seus investimentos?</p>
    <ul>
      <li>
        <input 
        required 
        ngModel 
        name="2. Por quanto tempo você deseja manter os seus investimentos?" 
        id="questao4" 
        type="radio" 
        value="ATE 1 ANO"
        class="form-group">
        <label for="questao4">ATE 1 ANO</label>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="2. Por quanto tempo você deseja manter os seus investimentos?" 
        id="questao5" 
        type="radio" 
        value="DE 1 a 3 ANOS"
        class="form-group">
        <label for="questao5">DE 1 a 3 ANOS</label>
      </li>
      <li>
        <input 
        required 
        ngModel
         name="2. Por quanto tempo você deseja manter os seus investimentos?" 
         id="questao6" 
         type="radio"
         value="DE 3 a 5 ANOS"
         class="form-group">
        <label for="questao6">DE 3 a 5 ANOS</label>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <p>3. Quantos % desses investimentos você pode precisar em um ano?</p>
    <ul>
      <li>
        <input 
        required 
        ngModel 
        name="3. Quantos % desses investimentos você pode precisar em um ano?" 
        id="questionario3" 
        value="ACIMA DE 75%"
        type="radio"
        class="form-group">
        <label for="questionario3">ACIMA DE 75%</label>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="3. Quantos % desses investimentos você pode precisar em um ano?"
        id="questionario3.1" 
        type="radio"
        value="DE 25 A 74%"
        class="form-group">
        <label for="questionario3.1">DE 25 A 74%</label>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="3. Quantos % desses investimentos você pode precisar em um ano?" 
        id="questionario3.2" 
        type="radio"
        value="ATE 25%"
        class="form-group">
        <label for="questionario3.2">ATE 25%</label>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <p>4. Qual sua familiaridade com os tipos de investimentos abaixo?
      <br> Leve em consideração o valor aplicado nos últimos 2 anos.</p>

    <ul class="selects">
      <li>
        <span>Titulos de renda fixa ou tesouro direto</span>
        <select 
        required 
        ngModel 
        name="4. Qual sua familiaridade com os tipos de investimentos abaixo? Leve em consideração o valor aplicado nos últimos 2 anos." 
        id="questionario4" 
        value="investimento.tipo"
        class="form-group">
          <option *ngFor="let dado of dadosSelect" value="{{dado.tipo}}" >
            {{dado.tipo}}
          </option>
        </select>
      </li>
      <li>
          <span>Fundos de investimento</span>
          <select 
          required 
          ngModel 
          name="4.1 Qual sua familiaridade com os tipos de investimentos abaixo? Leve em consideração o valor aplicado nos últimos 2 anos." 
          id="questionario4.1" 
          value="investimento.tipo"
          class="form-group">
            <option *ngFor="let dado of dadosSelect" value="{{dado.tipo}}" >
              {{dado.tipo}}
            </option>
          </select>
        </li>
    </ul>

    <ul class="selects">
        <li>
          <span>Ações á vista</span>
          <select 
          required 
          ngModel 
          name="4.2 Qual sua familiaridade com os tipos de investimentos abaixo? Leve em consideração o valor aplicado nos últimos 2 anos." 
          id="questionario4.2" 
          value="investimento.tipo"
          class="form-group">
            <option *ngFor="let dado of dadosSelect" value="{{dado.tipo}}" >
              {{dado.tipo}}
            </option>
          </select>
        </li>

        <li>
            <span>Aluguel de ações, termos opções e futuros</span>
            <select 
            required 
            ngModel 
            name="4.3 Qual sua familiaridade com os tipos de investimentos abaixo? Leve em consideração o valor aplicado nos últimos 2 anos." 
            id="questionario4.3" 
            value="investimento.tipo" 
            class="form-group">
              <option *ngFor="let dado of dadosSelect" value="{{dado.tipo}}" >
                {{dado.tipo}}
              </option>
            </select>
          </li>
      </ul>
  </div>
  
  <button class="btn voltar" (click)="goHome()">voltar</button>

  <button class="btn-salvar"
  type="submit"
  [disabled]="!contatoForm.form.valid">Salvar</button>
  </form>

  <!-- for 
  <ul>
    <li *ngFor="let resposta of convertida">
      {{resposta}}
    </li>
  </ul>
  -->
</div>
