<div class="wrapper">
  <h1>Perfil investidor - Questionário</h1>

  <div class="form-group">
    <p>1. Qual o seu perfil em relacao aos seus investimentos?</p>
    <ul>
      <li>
        <input 
        required 
        name="pergunta1" 
        value="dinheiro"
        ngModel 
        id="termos" 
        type="radio" 
        (change)="log(termos)" 
        #pergunta1="ngModel" 
        class="form-group">
        <span>Preserar meu dinheiro
          <br> sem correr riscos</span>
      </li>
      <li>
        <input
        required 
        ngModel 
        name="pergunta2" 
        id="termos" 
        value="dinheiro2"
        type="radio" 
        (change)="log(termos)" 
        #pergunta2="ngModel" 
        class="form-group">
        <span>Ganhar mais dnheiro
          <br> assumindo riscos moderados</span>
      </li>
      <li>
        <input 
        required 
        ngModel 
        name="pergunta3" 
        id="pergunta3"
        value="dinheiro3" 
        type="radio" 
        (change)="log(termos)" 
        #pergunta3="ngModel" 
        class="form-group">
        <span>Ganhar mais dnheiro
          <br> assumindo riscos agressivos</span>
      </li>
    </ul>
  </div>

  <!--
     <div class="form-group">
    <p>2. Por quanto tempo voce deseja manter os seus investimentos?</p>
    <ul>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>ATE 1 ANO</span>
      </li>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>DE 1 a 3 ANOS</span>
      </li>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>DE 3 a 5 ANOS</span>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <p>1. Quantos % dessees investimentos voce pode precisar em um ano?</p>
    <ul>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>ACIMA DE 75%</span>
      </li>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>DE 25 A 74%</span>
      </li>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>ATE 25%</span>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <p>3. Qual o seu perfil em relacao aos seus investimentos?</p>
    <ul>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>Preserar meu dinheiro
          <br> sem correr riscos</span>
      </li>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>Ganhar mais dnheiro
          <br> assumindo riscos moderados</span>
      </li>
      <li>
        <input required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
        <span>Ganhar mais dnheiro
          <br> assumindo riscos agressivos</span>
      </li>
    </ul>
  </div>

    <div class="form-group">
    <p>4. Qual sua familiaridade com os tipos de investimentos abaixo?
      <br> Leve em consideracao o valor aplicado nos ultimos 2 anos.</p>

    <ul class="selects">

      <li>
        <span>Titulos de renda fixa ou tesouro direto</span>
        <select required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </li>

      <li>
          <span>Titulos de renda fixa ou tesouro direto</span>
          <select required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </li>
    </ul>

    <ul class="selects">

        <li>
          <span>Titulos de renda fixa ou tesouro direto</span>
          <select required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </li>
  
        <li>
            <span>Titulos de renda fixa ou tesouro direto</span>
            <select required ngModel name="termos" id="termos" type="radio" (change)="log(termos)" #termos="ngModel" class="form-group">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </li>
      </ul>
  </div>
  -->
  
  <button class="btn voltar">voltar</button>
  <button class="btn-salvar" 
  [disabled]="!pergunta1.valid && !pergunta2.valid && !pergunta3.valid "
  >Salvar</button>
</div>