$color-not-checked: transparent;

.wrapper {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
  font-family: "Arial";
  padding-bottom: 80px;

  h1 {
    color: #a52526;
    font-size: 1.2 em;
    text-transform: uppercase;
  }

  p {
    font-size: 1.2em;
  }
  span,
  label {
    text-transform: uppercase;
  }

  ul {
    display: flex;
    padding: 50px 0 50px;
    border-bottom: 2px dashed #ddd;
  }

  li {
    width: 47%;
    margin: 0 auto;
    list-style: none;
    font-size: 0.8em;
  }

  .selects
  span {
    font-size: 1em;
    padding-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
    float: right;
    background: transparent;
    width: 15%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    text-transform: uppercase;
  }

  button.btn.voltar {
    margin-left: 10px;
  }

  /*estilo botao desabilidado */
  button:disabled,
  button[disabled] {
    background-color: #ccc;
  }

  /*estilo botao habilitado*/
  .btn-salvar {
    background-color: orange;
    color: #fff;
    margin-top: 10px;
    float: right;
    width: 15%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  &,
  &.selects {
    width: 100%;
    display: block;
    margin: 0 auto;

    & select {
      width: 100%;
      background: transparent;
      border-top: 0;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid orange;
    }
  }
}
