@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

ul {
    padding: 4px;
    margin: 5px;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: 0.9em;
}

li {
    background-color: #187363;
    border-radius: 5px;
    margin: 10px;
    padding: 2px 20px;
    color: #fff;
    list-style: none;
}