<div class="wrapper">
  <img src="./assets/img/logo.png" alt="">
  <h2>informacoes recebidas</h2>

  <p>Em ate é 48 horas daremos um retorno sobre a abertura da sua conta.</p>

  <hr>
  <p>Para receber nossas recomendação de investimentos e comecar a investir, precisamos conhecer seu perfil investidor.</p>
  <p>São apenas 4 perguntas, que irão guiar as suas decisões de investimentos.</p>

  <p>Gostaria de responder ao perfil do investidor?</p>

  <button class="btn nao" (click)="showDialog = !showDialog">Nao</button>
  <button class="btn sim" (click)="showDialog = !showDialog" class="btn">Sim</button>
</div>

<app-dialog [(visible)]="showDialog">
  <div class="modal-wrapper">
    <h3>Termo</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quas aliquid quos repellat vero ratione neque commodi aperiam! Consequuntur assumenda tempora odio aspernatur doloribus modi quidem, dolor alias dignissimos </p>
    <form>
      <div class="form-group">
        <input
        required
        ngModel
        name="termos"
        id="termos"
        type="checkbox"
        (change)="log(termos)"
        #termos="ngModel"
        class="form-group"> <span>Li e aceito os termos e condições a cima</span>
      </div>
     <button
      [disabled]="!termos.valid"
      (click)="showDialog = !showDialog; goPerfil()"
      class="btn-termos"
      >OK entendi</button>

    </form>
  </div>
</app-dialog>
