<div class="wrapper">
  <img src="./assets/img/logo.png" alt="">

  <h2 translate>{{ 'Title' }}</h2>

  <p translate>{{ 'Intro1'}}</p>

  <hr>
  <p translate>{{ 'Intro2' }}</p>

  <p translate>{{'Intro3' }}</p>

  <p translate>{{ 'Intro4' }}</p>

  <button class="btn nao" (click)="showDialog = !showDialog" translate>{{'botao1'}}</button>
  <button class="btn sim" (click)="showDialog = !showDialog" class="btn" translate>{{'botao2'}}</button>
  
  <br>
  <br>
  <!--aplicar depois-->
  <button (click)="switchLanguage('en')">en</button>

  <button (click)="switchLanguage('pt-BR')">pt</button>
</div>


<app-dialog [(visible)]="showDialog">
  <div class="modal-wrapper">
    <h3>Termo</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius quas aliquid quos repellat vero ratione neque commodi aperiam! Consequuntur assumenda tempora odio aspernatur doloribus modi quidem, dolor alias dignissimos </p>
    <form>
      <div class="form-group">
        <input
        required
        ngModel
        name="termos"
        id="termos"
        type="checkbox"
        #termos="ngModel"
        class="form-group"> <span>Li e aceito os termos e condições a cima</span>
      </div>
     <button
      [disabled]="!termos.valid"
      (click)="showDialog = !showDialog; goPerfil()"
      class="btn-termos"
      >OK entendi</button>

    </form>
  </div>
</app-dialog>
